[Desktop Entry]
Type=Application
Name=Proton VPN
Icon=proton-vpn-logo
Exec=protonvpn-app --start-minimized
Terminal=false
X-GNOME-Autostart-enabled=true
